body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lora', sans-serif; /* Utilisez le nom de votre police défini dans @font-face */
  
  }
  
  
  .header1 {
    /* background-color: #2896D7; */
    background-color: #3B71DC;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between; /* Les éléments seront espacés uniformément sur la ligne */
    align-items: center; /* Les éléments seront alignés au centre verticalement */
  }
  
  
  .logo{
    width: 70px;
    height: 70px;
  }
  
  .brand {
    display: flex; 
    align-items: center; 
    font-size: 27px;

  }

  .name{
    font-size: 27px;
margin-top: 10px;
  }
  
  .brand .logo {
    margin-right: 10px; 
  }
  
  
  .name {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }
  
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 800px;
    height: 60px;
    padding-right: 30px; /* Ajouter de l'espace à droite pour l'icône */
    border: 2px solid #ccc;
    border-radius: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center; /* Positionner l'icône à droite */
    background-size: 20px 20px; /* Taille de l'icône */
    padding-left: 10px;
  
  }
  
  .search-input:focus {
    border-radius: 10px; /* Changer le border-radius lorsqu'il est en focus */
    
  }
  
  .right {
    display: flex;
    flex-direction: row; /* Affiche les éléments horizontalement */
  }
  
  .right .subright {

    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 20px; /* Ajouter un espace entre les éléments */
  }
  
  .right .subright:last-child {
    margin-right: 0; /* Retirer la marge à droite pour le dernier élément */
  }

  .cart-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #f9ca24;
    color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .islogin-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: green;
    color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* NAVBAR */
  .nav1{
    background-color: #F2F8FD;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
  }
  

  svg {
    width: 35px;
    padding-right: 5px;
    padding-left: 5px;
    color: #000;
  }
  
  .svgnav{
    width: 40px;
    margin-bottom: 5px;
    
  }

  .svgsr{
    width: 45px;
    padding-right: 5px;
    padding-left: 5px;
    color: #fff;
  }
  .svgtext{
    color: #f1F1F1;
  }
  
  .account {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
    padding: 10px;
    height:100px;
    top: 100%; /* Positionne le dropdown sous le div .category */
    right: 50%;
  }
  
  .account:hover .dropdown-content,
  .account:hover .svgtext,
  .account:hover svg {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .dropdown-content a:hover {
    background-color: #f9f9f9;
  }
  
  
  .category{
    width: 180px;
    height: 50px;
    display: flex; 
    align-items: center; 
    position: relative; 
    cursor: pointer;
    margin-right: 20px; 
    outline: 1px solid #f2f2f2;
    border-radius: 20px;
    padding: 5px;
  }
  

 .service{
    width: 160px;
    height: 50px;
    display: flex; 
    align-items: center; 
    position: relative; 
    cursor: pointer;
    margin-right: 20px; 
    outline: 1px solid #f2f2f2;
    border-radius: 20px;    padding: 5px;

  }
  
  
  .left {
    display: flex;
    align-items: center;
  }
  
 
  
  
  .category:hover {
    outline: 5px solid #3B71DC;
    border-radius: 20px;
    width: 180px;
    height: 50px;
  }
   

  .service:hover {
    outline: 5px solid #3B71DC;
    border-radius: 20px;
    width: 160px;
    height: 50px;
  }
  
  .dropTitle{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
    color:#46474A;
    /* padding-left: 10px; */
    font-weight: bold;
    cursor: default;
  }

  .subDropTitle{
    margin-bottom: 10px;
    margin-left: 35px;
    color:#46474A;

  }
  .dropdown {
    /* margin-top:  18px; */
    width: 300px;
    display: none; /* Masque le dropdown par défaut */
    position: absolute; /* Position absolue par rapport à son parent .category */
    top: 130%; /* Positionne le dropdown sous le div .category */
    left: 0; /* Alignement à gauche */
    background-color: #fff;
    border-radius: 5px;
    /* border: 0.5px solid black;  */
    padding: 5px; /* Ajoute un peu d'espace autour du contenu */
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 500;

  }

  .dropdown1 {
    /* margin-top:  18px; */
    width: 300px;
    display: none; /* Masque le dropdown par défaut */
    position: absolute; /* Position absolue par rapport à son parent .category */
    top: 130%; /* Positionne le dropdown sous le div .category */
    left: 0; /* Alignement à gauche */
    background-color: #fff;
    border-radius: 5px;
    /* border: 0.5px solid black;  */
    padding: 5px; /* Ajoute un peu d'espace autour du contenu */
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 500;

  }
  
  .dropdown,
  .dropdown1,
  .service-dropdown ul,li {
    list-style: none;
    padding: 0;
    margin: 0; 
    text-decoration: none;
  }
  
  .dropdown li,
  .dropdown1 li {
    padding: 10px; /* Ajoute un peu d'espace autour des éléments de liste */
  }
  
  /* Optionnel : pour styliser les options du dropdown */
  .dropdown li:hover,
  .dropdown1 li:hover {
    background-color: #f0f0f0; /* Couleur de fond lorsque survolé */
  }
  
  
  
  
  /* .scrollable-list {
    max-height: 700px; 
    overflow-y: auto; 
    margin-right: 20px;
  }
   */
  
  /* CSS pour le deuxième niveau du dropdown */
  
  
  .category-group {
    display: flex; /* Utiliser Flexbox */
    align-items: center; /* Centrer verticalement les éléments */
  }
  
  .category-group h3 {
    margin-right: 10px; /* Ajouter un espacement entre le titre et les sous-options */
  }

 

  .submenu{
    margin-left: 10px;
  }
  
  
  .submenu p:hover {
    background-color: #2896D7;
    color: #2896D7; /* Optionnel : changer la couleur du texte en blanc pour une meilleure lisibilité */
    font-weight: bold;    

  }
  
  
  .second-dropdown {
    display: grid; /* Utilisez CSS Grid */
    grid-template-columns: repeat(4, 1fr); /* Quatre colonnes égales */
    grid-gap: 10px; /* Ajoute de l'espace entre les colonnes */
    position: absolute;
    top: 130%;
    left: 166%;
    background-color: #E6F1FC;
    border-top-right-radius: 5px; /* Coin supérieur droit arrondi */
    border-bottom-right-radius: 5px;   /* max-width: 800px; */
    width: auto; /* La largeur s'ajustera en fonction du contenu */
    min-width: 800px; /* Largeur minimale */
    /* margin-top: 18px; */
    padding: 10px; /* Ajoute un peu d'espace autour du contenu */
    height: 700px; /* Hauteur maximale pour le défilement */
    overflow: auto; 
    z-index: 500;
  }

  .second-dropdown1 {
    display: grid; /* Utilisez CSS Grid */
    grid-template-columns: repeat(4, 1fr); /* Quatre colonnes égales */
    grid-gap: 10px; /* Ajoute de l'espace entre les colonnes */
    position: absolute;
    top: 130%;
    left: 186%;
    background-color: #E6F1FC;
    border-top-right-radius: 5px; /* Coin supérieur droit arrondi */
    border-bottom-right-radius: 5px;   /* max-width: 800px; */
    width: auto; /* La largeur s'ajustera en fonction du contenu */
    min-width: 800px; /* Largeur minimale */
    /* margin-top: 18px; */
    padding: 10px; /* Ajoute un peu d'espace autour du contenu */
    height: 700px; /* Hauteur maximale pour le défilement */
    overflow: auto; 
    z-index: 500;
  }

  .second-dropdown ul,.second-dropdown1 ul {
    list-style-type: none; /* supprimer les puces */
    padding: 0;
    margin: 0;
  }

  .service-dropdown {
    display: grid; /* Utilisez CSS Grid */
    grid-template-columns: repeat(4, 1fr); /* Quatre colonnes égales */
    grid-gap: 10px; /* Ajoute de l'espace entre les colonnes */
    position: absolute;
    top: 0;
    /* left: 0%; */
    background-color: #E6F1FC;
    border-top-right-radius: 5px; /* Coin supérieur droit arrondi */
    border-bottom-right-radius: 5px;   /* max-width: 800px; */
    width: auto; /* La largeur s'ajustera en fonction du contenu */
    min-width: 800px; /* Largeur minimale */
    margin-top: 65px;
    padding: 10px; /* Ajoute un peu d'espace autour du contenu */
    height: 700px; /* Hauteur maximale pour le défilement */
    overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
    z-index: 500;

    
  }
  
  
  
  /* Pour afficher le sous-menu au survol et au focus */
  .submenu:hover .second-dropdown,
  .submenu:focus .second-dropdown,
  .second-dropdown:hover,
  .submenu:hover .second-dropdown:hover {
    display: block;
    
  } 
  
  /* Pour masquer le sous-menu par défaut */
   /* .second-dropdown {
    display: none;
  } */
  
  .res {
    display: inline-block;
    vertical-align: top; /* Pour aligner les éléments en haut */
    margin-right: 10px !important;
  
  }
  
  .res-title{
    font-size: 20px;
    font-weight: bold;
    color: #2E2F32;
  }
  
  li{
    color: #46474A;
  }
  

  .toggle-dropdown,.toggle-servicedropdown {
    display: none; 
  }
  
  .category .dropdown {
    display: none; /* Masque le dropdown par défaut */
  }
  
  /* .open {
    display: 'block' 
  } */
  /* Dropdown pour les catégories */
/* .toggle-dropdown:checked + .category .dropdown {
  display: block;
}

.toggle-dropdown:not(:checked) + .category .dropdown {
  display: none;
} */



/* Dropdown pour les services */
/* .toggle-servicedropdown:checked + .service .service-dropdown {
  display: block;
}

.toggle-servicedropdown:not(:checked) + .service .service-dropdown {
  display: none;
} */


/* test */


  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column; /* Affichage en colonne sur les petits écrans */
      padding: 10px; /* Réduction de l'espacement du header */
    }
  
    .brand,
    .right {
      width: 100%; /* Prend toute la largeur */
      display: flex; /* Affichage en ligne */
      justify-content: center; /* Centrage horizontal */
      align-items: center; /* Centrage vertical */
      margin-bottom: 10px; /* Espacement entre les éléments */
  
      
    }
  
    .search-container {
      order: 3; /* Réorganiser l'ordre pour placer la barre de recherche en bas */
      margin-top: 10px; /* Espacement entre la barre de recherche et les autres éléments */
    }
  
    .search-input {
      width: 100%; /* Largeur de la barre de recherche sur toute la largeur */
      max-width: 300px; /* Limite la largeur maximale de la barre de recherche */
      margin: 5px 0; /* Espacement autour de la barre de recherche */
    }
  
    .right {
      flex-direction: row; /* Affichage en ligne pour les icônes à droite */
      justify-content: space-between; /* Espacement uniforme entre les icônes */
      width: auto; /* Largeur automatique */
      align-items: center; /* Alignement vertical au centre */
    }
  
    .right p {
      margin: 5px; /* Espacement entre les icônes */
    }
  
    .brand .name {
      font-size: 16px; /* Réduction de la taille de la police du nom */
    }
  
    .category {
      width: auto; /* Largeur automatique pour les éléments de la navbar */
      margin: 5px; /* Espacement entre les éléments de la navbar */
      padding: 5px; /* Espacement interne des éléments de la navbar */
    }
  

    .service {
      width: auto; /* Largeur automatique pour les éléments de la navbar */
      margin: 5px; /* Espacement entre les éléments de la navbar */
      padding: 5px; 
    }
    .dropdown,
    .second-dropdown {
      width: 100%; /* Largeur maximale pour les dropdowns */
      max-width: 300px; /* Limite la largeur maximale des dropdowns */
      left: auto; /* Réinitialise la position gauche */
    }
  
    .submenu:hover .second-dropdown,
    .submenu:focus .second-dropdown,
    .second-dropdown:hover,
    .submenu:hover .second-dropdown:hover {
      display: none; /* Masque les sous-menus par défaut sur les petits écrans */
    }
  }
  
  .etenfin{
    display: none;
  }

