.rounded-button{font-size: 20px !important; color: #fff !important; padding: 5px 25px !important; background: #FFA500 !important; border: 1px solid #FFA500;border-radius: 50px;margin-left: 5px;}
 .rounded-button:hover,
 .rounded-button:hover .iconAddCart {
  background: #fff !important; /* Changement de couleur de fond du bouton au survol */
  color: #FFA500 !important; /* Changement de couleur de texte du bouton au survol */
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}

.imgList{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;

}

.imgzoom{
  width: 694px;
  height: 510px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
}

/* tr:hover {background-color: #FFA500;} */
