
.Catcircle {
    width: 170px; /* Diamètre du cercle */
    height: 170px; /* Diamètre du cercle */
    border-radius: 50%; /* Rend le conteneur circulaire */
    overflow: visible; /* Permet à l'image de dépasser du cercle */
    padding: 20px; /* Ajoute du padding à l'intérieur du cercle */
    background-color: #f2f2f2;
  }
  
  .Catcircle img {
    width: 90px; /* Ajuste la largeur de l'image en fonction de sa taille réelle */
    height: 150px; /* Garde le ratio de l'image */
    position: relative; /* Positionnement relatif pour permettre le débordement */
    left: 20px; /* Décale l'image vers la gauche pour compenser le padding */
    top: -10px;
    border-radius: 5px;
    object-fit: cover;
  
      /* background-color: transparent;  */
  
  }
  
  .Catcircle p {
    margin-top: 20px;
    color: #000;
  }
  