.rounded-button{font-size: 30px;height: 70px; color: #fff !important; background: #FFA500 !important; border: 1px solid #FFA500;border-radius: 50px; display: flex; 
  justify-content: center; 
  align-items: center}
 .rounded-button:hover,
 .rounded-button:hover .iconAddCart {
  background: #fff !important; /* Changement de couleur de fond du bouton au survol */
  color: #FFA500 !important; /* Changement de couleur de texte du bouton au survol */
}


.rounded-button1{font-size: 20px !important;height: 70px; color: #FFA500 !important; padding: 5px 25px !important; background: #fff !important;border: 1px solid #FFA500;border-radius: 50px;display: flex; 
  justify-content: center; 
  align-items: center}
 .rounded-button1:hover,
 .rounded-button1:hover .iconAddCart {
  background: #FFA500 !important; /* Changement de couleur de fond du bouton au survol */
  color: #fff !important; /* Changement de couleur de texte du bouton au survol */
}



.discount{
  margin: 0;
  color: #498F2C;
  font-weight: 600;
  font-size: 35px;
}

.description{
  font-size: 25px;
  color: #000;
}

.imgList{
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;


}

.imgzoom{
  width: 694px;
  height: 510px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 15px;

}

.btnSpace{
  margin-top: 50px;
}


 .rounded-button:hover .iconAddCart {
  background: #FFA500 !important; /* Changement de couleur de fond du bouton au survol */
  color: #fff !important; /* Changement de couleur de texte du bouton au survol */
}

 .rounded-button .iconAddCart {
     color: #fff !important;
 
   }

